html {
  font-family: "Ubuntu Mono", monospace;
}

body {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #222831;
  color: #f1f1f1;
  font-size: large;
  width: 100%;
  margin: 20px auto;
}

a {
  color: #f1f1f1;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 20px 0;
}
.star-touch-target {
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.galaxyDiv{
  display: flex ;

}
.planet {
  width: 5px; height: 5px;
  
	border-radius: 50%;
	transform-origin: 220% 120%;
	animation: circle 5s infinite linear; 
}
@keyframes circle { 
	to { transform: rotate(1turn); } 
}

svg:hover {
  transform: scale(2.25);
  transition-duration: 2.5s;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}

.profile {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.pbear {
  position: absolute;
  top: 261px;
  left: 148px;
  opacity: 0;
}

.pbear:hover {
  opacity: 1;
}
