

html {

    font-family: 'Ubuntu Mono', monospace;
    
}

body {
    background-color: #222831;
    color: #f1f1f1; 
    font-size: large;
    width: 600px;
    margin: 20px auto;
 
 
}

a {
    color: #f1f1f1; 
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 20px 0;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }



.profile{ 

  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;

}

.pbear {
 
  position: absolute;
  top: 261px;
  left: 148px;
  opacity: 0;


}

.pbear:hover {
    opacity: 1;

}